* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

form {
  margin-top: 50px;
}

table {
  margin-top: 100px;
}

tbody td,
th {
  text-align: center;
  padding: 10px;
}
