{{>partials/header}}

<form action="/cadastrousuario" method="post" >
    <h1>
        Cadastrar Usuário
    </h1>

    <input type="text" name="name" placeholder="Nome" >
    <input type="number" name="age" placeholder="Idade">

    <button type="submit" >Cadastrar</button>
</form>


<table border="1" width="100%" cellspacing="0" cellpadding="1">
    <thead>
        <th>Id</th>
        <th>Primeira Letra</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Ações</th>
    </thead>
    <tbody>
       {{#users}}
            <tr>
                <td>{{ id }}</td>
                <td>{{firstLetterOfName}}</td>
                <td>{{ name }}</td>
                <td>{{ age }}</td>
                <td>
                    <a href="/user/excluir/{{id}}" >Excluir</a>
                    <a href="/user/aumentar/{{id}}" >Aumentar</a>
                    <a href="/user/diminuir/{{id}}" >Diminuir</a>
                </td>
            </tr>
       {{/users}}

       {{^users}}
            <tr>
                <p>Nenhum registro encontrado</p>
            </tr>
       {{/users}}
    </tbody>
</table>


<script>

    async function deletarUsuario(id) {
        try {

          //  const options = {
          //      method: 'DELETE'
          //  }

         //   const res = await fetch(`/delete/${id}`, options)
            
            
        } catch (err) {

        }
    }

</script>


{{>partials/footer}}